@tailwind base;
@tailwind components;
@tailwind utilities;

.hh-bg {
  background-image: url("/front-0830.jpg");
  height: 55rem;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

.hh-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.text-timer {
  z-index: 10;
}

.footerwrapper {
  background-image: url("/bluewaves.png");
  height: 20rem;
  background-size: 60%; /* Increase the size of the background image */
  background-repeat: no-repeat;
  background-position: left;
}

.fh-bg {
  background-image: url("/risotto-9876.jpg");
  height: 55rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
.fh-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.ee-bg {
  background-image: url("/Full-Group-Wide-8546.jpg");
  height: 55rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
.ee-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .footerwrapper {
    position: relative;
    height: 20rem;
    background-size: 0%; /* Increase the size of the background image */
    background-repeat: no-repeat;
    background-position: right bottom;
    overflow: hidden; /* Ensure the gradient does not overflow the container */
  }
}
